<h1 class="text-3xl font-bold text-center my-8 text-blue-100 uppercase">Simple Blog App</h1>
<div class="flex items-center mx-auto justify-center border-2 w-72 rounded-full border-green-300 p-2 border-l-4 border-t-4 shadow">
    <button routerLink="" class="cursor-pointer px-4 border-r-2 border-r-blue-300 text-blue-300 uppercase font-semibold hover:text-green-300 transition ease-in-out">Home</button>
    <Button routerLink="/post-list" class="cursor-pointer px-4 border-r-2 border-r-blue-300 text-blue-300 uppercase font-semibold hover:text-green-300 transition ease-in-out">Posts</Button>
    <button routerLink="/account" class="cursor-pointer px-4 text-blue-300 uppercase font-semibold hover:text-green-300 transition ease-in-out">Account</button>
</div>